* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
input,
button,
select,
textarea {
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
button {
  cursor: pointer;
}
img,
picture {
  display: block;
  max-width: 100%;
}
/* remove animation for people who've turned them off */
// @media (prefers-reduced-motion: reduce) {
//   *,
//   *::before,
//   *::after {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }

body {
  // font-family: "Poppins", sans-serif;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  line-height: 1.5;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 173, 173, 0.3),
    rgba(255, 214, 165, 0.3),
    rgba(253, 255, 182, 0.3),
    rgba(202, 255, 191, 0.3),
    rgba(155, 246, 255, 0.3),
    rgba(160, 196, 255, 0.3),
    rgba(189, 178, 255, 0.3),
    rgba(255, 198, 255, 0.3),
    rgba(255, 255, 252, 0.3)
  );
  padding: 10vh 50px 10vh 50px;
  color: $text-color;
}

.letter {
  width: 60vw;
  min-height: 80vh;
  margin: 0 auto;
  // min-width: 1280px;
  // border: 0.5px solid #000;
  border-radius: 10px;
  background-color: rgba(249, 249, 249, 0.5);
  box-shadow: 0 0 15px 0 rgba(109, 86, 103, 0.05);
}
.container {
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  // border: 1px solid #000;
  line-height: inherit;
  word-spacing: 5px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1599px) {
  html {
    font-size: 40%;
  }
}
