.footer {
  // border: 1px solid #000;
  height: 20%;
  padding-right: 10%;
  &-container {
    // float: right;
    float: right;
    text-align: center;
    // border: 1px solid #000;
    line-height: 2;
  }
  // &-image {
  //   height: 100%;
  //   margin-left: 100px;
  //   // border: 1px solid #000;
  //   // transform: translateY(-30%);
  // }
  &-title {
    font-style: italic;
    font-size: 30px;
  }
  &-text {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-text img {
    width: 20px;
    height: 20px;
    // border: 1px solid #000;
    transform: translateY(-20%);
    margin-left: 5px;
  }
}
